@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Merriweather", sans-serif;
  background-image: linear-gradient(
    to left,
    rgb(219, 239, 248),
    rgb(206, 238, 252)
  );
  padding: 30px;
}
.tab-container {
  padding: 20px;
  border: 2px solid black;
  width: 40%;
  height: 50%;
  line-height: 40px;
  margin-left: 25rem;
}
.container h1 {
  margin-left: 25rem;
}
.buttons button {
  width: 6vw;
  height: 6vh;
  margin-left: 12rem;
  margin-top: 2rem;
  border: 2px solid black;
  background-color: rgba(66, 146, 72, 0.945);
  color: white;
  border-radius: 1px;
}
.buttons button:hover {
  cursor: pointer;
  background-color: blueviolet;
  border: 2px solid white;
  transition: 0.3s;
}
input {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
#find {
  width: auto;
  margin-left: 30rem;
  padding: 15px;
  border: 2px solid rgb(57, 124, 57);
  color: rgb(57, 124, 57);
}
#search {
  width: auto;
  padding: 15px;
  background-color: rgba(66, 146, 72, 0.945);
  color: white;
  border-radius: 1px;
}
.search {
  padding: 20px;
}
#submit:hover {
  cursor: pointer;
  background-color: blueviolet;
  border: 2px solid white;
  transition: 0.3s;
}

th {
  padding: 20px;
  border: 2px solid black;
}
td {
  border: 2px solid black;
}
