<div class="body">
  <div class="container">
    <h1>RT-PCR REGISTRATION FORM</h1>
    <form class="myform" [formGroup]="fg" (ngSubmit)="onSubmit()">
      <div class="tab tab-container">
        <div class="field">
          <label for="fname">Person Name :</label>
          <input
            type="text"
            name="pname"
            id="pname"
            formControlName="pname"
            placeholder="enter your name"
          />
        </div>
        <div class="check">
          <span
            *ngIf="fg.controls['pname'].invalid && fg.controls['pname'].touched"
            >* Person name is required</span
          >
        </div>

        <div class="field">
          <label for="date-of-birth">Date Of Birth :</label>
          <input
            type="date"
            name="dob"
            id="dob"
            formControlName="dob"
            placeholder="enter your date of birth"
          />
        </div>
        <div class="check">
          <span *ngIf="fg.controls['dob'].invalid && fg.controls['dob'].touched"
            >*Date Of Birth is required</span
          >
        </div>
        <div class="field" id="check-gen">
          <label for="gender">Gender :</label>
          <select
            type="text"
            name="gender"
            id="gender"
            formControlName="gender"
          >
            <option name="female">female</option>
            <option name="female">male</option>
            <option name="female">other</option>
          </select>
        </div>
        <div class="check">
          <span
            *ngIf="
              fg.controls['gender'].invalid && fg.controls['gender'].touched
            "
            >*Gender is required</span
          >
        </div>
        <div class="field">
          <label for="city">City :</label>
          <input
            type="text"
            name="city"
            id="city"
            formControlName="city"
            placeholder="City"
          />
        </div>
        <div class="check">
          <span
            *ngIf="fg.controls['city'].invalid && fg.controls['city'].touched"
            >*City is required</span
          >
        </div>
        <div class="field">
          <label for="date-of-test">Date Of Test :</label>
          <input type="date" name="date" id="date" formControlName="time" />
        </div>
        <div class="field">
          <label for="time-of-test">Time Of Test :</label>
          <input type="time" name="time" id="time" formControlName="date" />
        </div>
        <div class="field">
          <label for="lab">Lab Name :</label>
          <input
            type="text"
            name="lab"
            id="lab"
            formControlName="lab"
            placeholder="Lab Name"
          />
        </div>
        <div class="check">
          <span *ngIf="fg.controls['lab'].invalid && fg.controls['lab'].touched"
            >*Lab Name is required</span
          >
        </div>
        <div class="field">
          <label for="report">Report Number :</label>
          <input
            type="text"
            name="report"
            id="report"
            formControlName="report"
            placeholder="Report Number"
          />
        </div>
        <div class="check">
          <span
            *ngIf="
              fg.controls['report'].invalid && fg.controls['report'].touched
            "
            >*Report Number is required</span
          >
        </div>
        <div class="field">
          <label for="result">Result :</label>
          <input
            type="text"
            name="result"
            id="result"
            formControlName="result"
            placeholder="Result"
          />
        </div>
        <div class="check">
          <span
            *ngIf="
              fg.controls['result'].invalid && fg.controls['result'].touched
            "
            >*Result is required</span
          >
        </div>
        <div class="field">
          <label for="aadhar">Aadhar Numbar :</label>
          <input
            type="number"
            name="aadhar"
            id="aadhar"
            formControlName="aadhar"
            placeholder="Aadhar Number"
          />
        </div>
        <div class="check">
          <span
            *ngIf="
              fg.controls['aadhar'].invalid && fg.controls['aadhar'].touched
            "
            >*Aadhar no is required</span
          >
        </div>

        <div class="buttons">
          <button id="add" (click)="add()" [disabled]="!fg.valid">Add</button>
        </div>
      </div>
    </form>
    <div class="tab">
      <table id="table">
        <tr>
          <th *ngFor="let column of headers">{{ column }}</th>
        </tr>
        <tr *ngFor="let value of store">
          <td>
            {{ value.pname }}
          </td>
          <td>
            {{ value.dob }}
          </td>
          <td>
            {{ value.gender }}
          </td>
          <td>
            {{ value.city }}
          </td>
          <td>
            {{ value.time }}
          </td>
          <td>
            {{ value.date }}
          </td>

          <td>
            {{ value.lab }}
          </td>
          <td>
            {{ value.report }}
          </td>
          <td>
            {{ value.result }}
          </td>
          <td>
            {{ value.aadhar }}
          </td>
        </tr>
      </table>
    </div>

    <div class="search">
      <input
        type="text"
        id="find"
        (keyup)="removefield()"
        placeholder="Enter name to search"
      />
      <input type="submit" (click)="search()" id="search" />
      <div id="msg"></div>
    </div>

    <div class="tab">
      <table id="table1">
        <tr>
          <th *ngFor="let column of headers">
            {{ column }}
          </th>
        </tr>

        <tr *ngFor="let value of searchvalue" id="tr">
          <td>
            {{ value.pname }}
          </td>
          <td>
            {{ value.dob }}
          </td>
          <td>
            {{ value.gender }}
          </td>
          <td>
            {{ value.city }}
          </td>
          <td>
            {{ value.time }}
          </td>
          <td>
            {{ value.date }}
          </td>

          <td>
            {{ value.lab }}
          </td>
          <td>
            {{ value.report }}
          </td>
          <td>
            {{ value.result }}
          </td>
          <td>
            {{ value.aadhar }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
